@charset "utf-8";

@font-face {
    font-family: 'SebangGothic';
    src: url('../fonts/SebangGothic/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SebangGothic';
    src: url('../fonts/SebangGothic/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}